<div class="row">
  <h1>Files for <%= @group.name %></h1>
</div>

<div class="row">
  <% if @group.edocs.any? %>
    <ul>
      <% @group.edocs.each do |e| %>
          <li><%= e.name %> - <%= link_to "Get File", edoc_path(e) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No files for this group</p>
  <% end %>

  <%= link_to "+", new_edoc_path(group_id: @group.id), class: "btn btn-info" %>
</div>
