<div class="row">
  <h1>Members of <%= @group.name %></h1>
</div>

<div class="row">
  <ul>
    <% @group.members.each do |m| %>
      <li><%= m.user.email %>
          <% if (@group.owner && @group.owner.user_id == current_user.id && m.user.id != current_user.id) %>
            <%= link_to "Remove", remove_member_path(id: @group, user_id: m.user), method: :delete %>
          <% end %>
      </li>
    <% end %>
  </ul>
</div>
